# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# chain credentials for testing
3cities-test-private-key

# vscode - don't track settings because the Disable Copilot completions extension works by continuously flipping a flag in this file and it causes confusing and spammy git diffs.
/.vscode/settings.json
